body {
background-image: linear-gradient(#bbb, #212529);
height: 100vh;
}
*{
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-weight: bold;
    border-radius: 20px;
    color: white;
}
h6, #genero, p {
    color: white;
}

.row {
    margin: 5px;
}

