    body {
    background-image: linear-gradient(#bbb, #212529);
    height: 100vh;
}
*{
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-weight: bold;
    border-radius: 20px;
    color: white;
}
h6{
    color: white;
}

.row {
    margin: 5px;
}
p{
    color: white;
}
#genero{
    color: white;
}

#footer {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    position: absolute;
    bottom: 0;
}

#whats {
    margin: 15px;
}
